{% extends 'base.html'%} {% block body %}
{% load django_bootstrap5 %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Add New Job</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
               
     
                    <div class="apply_job_form white-bg">
                        <h4>Post New Job</h4>
                            <form method="post" class="form" enctype="multipart/form-data">
                              {% csrf_token %}
                              {% bootstrap_form form %}
                              <button class="boxed-btn3 w-100" type="submit">Post Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endblock body %}
